version: "3.7"
services:

  # Port numbers (normal port number + 40000):
  # - mssql    41433
  # - mysql    43306
  # - postgres 45432

  mssql:
    # See https://hub.docker.com/_/microsoft-mssql-server
    image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
    container_name: schema-test-mssql
    ports:
      - 127.0.0.1:41433:1433
    volumes:
      - ./docker-entrypoint-mssql.sh:/entrypoint.sh:ro
      - ./docker-db-init-mssql.sh:/db-init.sh:ro
      - ./docker-db-init-mssql.sql:/init.sql:ro
    command: /bin/bash /entrypoint.sh
    environment:
      ACCEPT_EULA: Y 
      MSSQL_PID: Developer
      SA_PASSWORD: Passw0rd

  mysql:
    # See https://hub.docker.com/_/mysql
    image: mysql:latest
    container_name: schema-test-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 127.0.0.1:43306:3306
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: test_db
      MYSQL_USER: mysql_test_user
      MYSQL_PASSWORD: password

  # TODO(js) Oracle

  oracle:
    # See https://container-registry.oracle.com/pls/apex/f?p=113:4:8927682379073::NO:4:P4_REPOSITORY,AI_REPOSITORY,AI_REPOSITORY_NAME,P4_REPOSITORY_NAME,P4_EULA_ID,P4_BUSINESS_AREA_ID:8,8,Oracle%20Database%20Standard%20Edition%202,Oracle%20Database%20Standard%20Edition%202,1,0&cs=3cDGR5voeQ_ibR2ikj2b_WfYR--iaAVTrRI4aNmrNDouMwy4DP7_fzkUWFX3oT31AxGnYFVpV6yBYTTthhpFZQQ
    image: container-registry.oracle.com/database/standard:12.1.0.2
    container_name: schema-test-oracle
    restart: always
    # volumes:
    #   - /home/oracle/oradata:/opt/oracle/oradata # persistent oracle database data.
    ports:
      - 127.0.0.1:41521:1521
      #- 8080:8080
      #- 5500:5500

  postgres:
    # See https://hub.docker.com/_/postgres
    image: postgres:latest
    container_name: schema-test-postgres
    restart: always
    ports:
      - 127.0.0.1:45432:5432

  # adminer:
  #   image: adminer
  #   container_name: schema-test-adminer
  #   restart: always
  #   ports:
  #     - 8080:8080
